body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

:root {
  /* --totalcolsRows: repeat(4, 1fr) !important; */
}

#mat > div {
  display: grid !important;
  grid-template-columns: var(--totalcolsRows) !important;
  padding: 5px !important;
}

#top {
  display: grid !important;
  grid-template-columns: var(--totalcolsRows) !important;
  border-bottom: none !important;
  padding: 5px !important;
}

#side {
  display: grid !important;
  grid-template-rows: var(--totalcolsRows) !important;
  text-align: right !important;
  border-right: none !important;
}

#side > div {
  padding: 5px !important;
  min-height: 50px !important;
  max-height: 50px !important;
}

#mat > div {
  max-height: 50px !important;
  min-height: 50px !important;
}

#mat > div > div,
#top > div {
  max-width: 100px !important;
  min-width: 100px !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.container > div:first-child {
  min-width: 100px;
  max-width: 100px;
}
